<div class="spacer" [style.height.px]="100"></div>
<div class="img-container">
    <img src="assets/images/logo1.webp" />
    <h1 class ="steam-box">Coming to <span class="steam-box"><img class="steam-logo" src="assets/images/steamlogo.webp" /></span></h1>
</div>
<div class="spacer" [style.height.px]="60"></div>
<app-chiron class="chiron"/>
<div class="spacer" [style.height.px]="700"></div>

<div class="img-container">
  <img [src]="albums[0].thumb" (click)="open(0)" />
</div>

<div class="spacer" [style.height.px]="60"></div>