  <header [class.visible]="scrolled" id="scroll-header">
    <a routerLink="/" class="logo-link">
      <img src="assets/images/fourletterlogo.webp" alt="Home" class="header-logo" />
    </a>
    <a routerLink="/asp" routerLinkActive="active" class="tagline-link">
      <h2 class="header-logo">Explore the ASP</h2>
    </a>
  </header>
  <div class="content">
    <router-outlet>
    </router-outlet>
  </div>
  <div class="scroll-bg"
     parallaxBg
     [ratio]="0.2"
     [textureHeight]="540">
  </div>