// header {
//   position: fixed;
//   display: flex;
//   width: 100vw;
//   height: 5rem;
//   margin: 0 auto;
//   top: 0;
//   padding: 0;
//   z-index: 2;
//   background-color: #08080a;
// }

#scroll-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;

  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #08080a;

  &.visible {
    transform: translateY(0);
  }
}

.header-logo {
  position: relative;
  height: 5rem;
  width: auto;
  padding: 0 1rem;
  margin: 0;
  z-index: 2;
}

h2 {
  position: relative;
  color: #ffffff;
  margin: auto 10px auto 10px;
}

.scroll-bg {
  position: fixed;
  inset: 0;
  z-index: -3;
  pointer-events: none;
  background-image: url('/assets/images/starrybg.webp');
  background-repeat: repeat;  
  background-size: 960px 1080px;
  image-rendering: pixelated;
}
