// header {
//   position: fixed;
//   display: flex;
//   width: 100vw;
//   height: 5rem;
//   margin: 0 auto;
//   top: 0;
//   padding: 0;
//   z-index: 2;
//   background-color: #08080a;
// }

#scroll-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;

  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #08080a;

  &.visible {
    transform: translateY(0);
  }
}

#scroll-header a  {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.header-logo {
  width: auto;
  padding: 0 1rem;
  margin: 0;
  z-index: 2;
}
a {
  text-decoration:none;
}

h2 {
  position: relative;
  color: #ffffff;
}

.tagline-link {
  padding: 0 1.5em;
}

.tagline-link.active {
  text-decoration: underline;
  text-underline-offset: 0.15em;
  color: #ffffff; 
}


// //Carets
// .tagline-link.active h2::before,
// .tagline-link.active h2::after {
//   content: '';
//   position: absolute;
//   top: 50%;
//   width: 0;
//   height: 0;
//   border-top: .35em solid transparent;
//   border-bottom: .35em solid transparent;
//   transform: translateY(-50%);
// }

// .tagline-link.active h2::before {
//   left: .1em;
//   border-right: .4em solid currentColor;
// }

// .tagline-link.active h2::after {
//   right: .1em;
//   border-left:  .4em solid currentColor;
  
// }


//Parallax BG
.scroll-bg {
  position: fixed;
  inset: 0;
  z-index: -3;
  pointer-events: none;
  background-image: url('/assets/images/starrybg.webp');
  background-repeat: repeat;  
  background-size: 960px 1080px;
  image-rendering: pixelated;
}
