@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital@0;1&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Sofia Sans Condensed', system-ui, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}